*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{

}

.banner-container{
    width: 1440px;
    min-height: 652px;
    border: 2px solid red;
    margin: 131px auto 0;
    background-image: url(../assets/Hero-bg.png);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.banner-content{
    width: 998px;
    min-height: 582px;
    border: 2px solid red;
    margin: 24px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-content h1,p{
    text-align: center;
    margin-top: 24px;
}

.banner-img{
    margin: 0;
    width: 240.28px;
    height: 240px;
    border: 2px solid red;
}

.btn{
    padding: 14px 16px 14px 16px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: rgb(255, 255, 255);
    margin-top: 32px;
}