*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{

}

.banner-container{
    width: 1440px;
    min-height: 652px;
    border: 2px solid red;
    margin: 131px auto 0;
    background-image: url(../assets/Hero-bg.png);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
